.avatar {
  /* box-sizing: initial; ou usar calc no width e height: */
  width: calc(3rem);
  height: calc(3rem);
  border-radius: 8px;
}

.avatarWithBorder {
  /* box-sizing: initial; ou usar calc no width e height: */
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    /* 12px = soma das borda e outline top e bottom */
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}